.home-conteiner {
    max-width: 925px;
    margin: 0 auto;
    margin-top: 90px;

    & h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #38250F;
        text-align: center;
    }

    & p {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #3D3934;
    }
}