.donate {
    max-width: 1200px;
    margin: 0 auto;

    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #38250F;
            text-align: center;
            text-transform: capitalize;
        }

        & p {
            font-size: 16px;
            color: #3D3934;
            font-weight: 400;
            text-align: center;
            margin: 0 auto;
            max-width: 870px;
        }

        & select {
            width: 383px;
            padding: 6px 0;
            padding-left: 10px;
            color: #38250F;
            font-weight: 700;
            margin-top: 10px;
        }
    }
}

.payment-data-conteiner {
    margin-top: 60px;
    height: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    & .pix {
        font-weight: 500;

        &-2 {
            font-size: 32px;
            line-height: 39px;
            color: #38250F;
            font-weight: 600;
        }
        &-3 {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            & p {
                margin: 0px;
                font-size: 12px;
                line-height: 15px;
                color: #38250F;
                font-weight: 700;
            }
        }
    }

    & .bank {
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
    }
}

.bank-conteiner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}